# SupplyChain Analysist For Fact and Dim Tables

In [1]:
import pandas as pd

# Read File

In [2]:
df = pd.read_csv('data/DataCoSupplyChainDataset.csv', encoding='latin1')

# Overview Of The Dataset

In [3]:
df.shape

(180519, 53)

In [4]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [5]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

# Tb Fact Sales

In [6]:
tb_fact_sales = df[['Order Id', 'Order Item Id', 'Order Item Quantity', 'Product Card Id', 'Sales']]

In [7]:
tb_fact_sales.shape

(180519, 5)

In [8]:
tb_fact_sales.head()

   Order Id  Order Item Id  Order Item Quantity  Product Card Id   Sales
0     77202         180517                    1             1360  327.75
1     75939         179254                    1             1360  327.75
2     75938         179253                    1             1360  327.75
3     75937         179252                    1             1360  327.75
4     75936         179251                    1             1360  327.75

In [9]:
tb_fact_sales['Order Id'].value_counts(ascending=False)

48880    5
3605     5
28265    5
50037    5
27861    5
        ..
42011    1
42068    1
42072    1
42118    1
26118    1
Name: Order Id, Length: 65752, dtype: int64

In [10]:
tb_fact_sales['Order Item Id'].value_counts(ascending=False)

180517    1
42681     1
28953     1
39851     1
173601    1
         ..
14991     1
150102    1
138584    1
150270    1
65113     1
Name: Order Item Id, Length: 180519, dtype: int64

In [11]:
tb_fact_sales[tb_fact_sales['Order Id'] == 48880]

,Order Id,Order Item Id,Order Item Quantity,Product Card Id,Sales
118698,48880,122220,1,403,129.990005
119105,48880,122221,2,191,199.979996
119676,48880,122222,4,627,159.960007
119677,48880,122218,4,627,159.960007
119995,48880,122219,5,502,250.000000